<div class="container mb-3">
<h1> My dashboard</h1>
  
<div class="bg-white card-request m-3 px-3 py-3">
    <h4>My pending requests</h4>
    <% pending_inbound_bookings = current_user.inbound_bookings.where(status: 'pending') %>
    <% if !pending_inbound_bookings.empty? %>
      <% pending_inbound_bookings.each do |booking| %>
          <div class="d-flex align-items-center mb-1" style="border-bottom: 1px solid #adb5bd">
            <p class="flex-grow-1 mt-2">
            <strong><%= booking.user.first_name %></strong> has requested to book "<%= booking.song.title %>"
            from <%= booking.start_date %> to <%= booking.end_date %>
            </p>
            <div class='d-flex'>
              <%= form_with url: "/bookings/#{booking.id}/approve", method: :patch do |form|%>
                <%= form.submit "Approve", class: 'btn btn-tertiary mx-2'%>
              <% end %>
              <%= form_with url: "/bookings/#{booking.id}/decline", method: :patch do |form|%>
                <%= form.submit "Decline", class: 'btn btn-tertiary mx-2'%>
              <% end %>
            </div>
          </div>
      <% end %>
    <% else %>
      <div class="font-weight-light text-muted">
        No bookings for review
      </div>
    <% end %>
    </div>
</div>

  <div class="row mt-4">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h2> My songs </h2>
        <%= link_to "Upload a new song", new_song_path, class: "btn btn-primary height:25%" %>
      </div>
        <% @my_songs.each do |song| %>
        <% if song.available == true %>
          <%= link_to song_path(song), class: 'card-product mb-3 d-flex' do %>
            <%= cl_image_tag song.photo.key %>
            <div class="card-product-infos">
              <h2> <%= song.title %> </h2>
              <p><%= song.album %> - <i><%= song.release_year %></i></p>
              <p> <%= song.available ? "Available" : "Booked" %></p>
            </div>
          <% end %>
          <% end %>
        <% end %>

        <% @my_songs.each do |song| %>
          <% if song.available == false %>
            <%= link_to song_path(song), class: 'card-product mb-3 d-flex bg-light' do %>
              <%= cl_image_tag song.photo.key %>
              <div class="card-product-infos">
                <h2> <%= song.title %> </h2>
                <p><%= song.album %> -  <i><%= song.release_year %></i></p>
                <p> <%= song.available ? "Available" : "Booked" %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
    <%= link_to "Upload a new song", new_song_path, class: "btn btn-primary" %>
    </div>



    <div class="col">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h2> My purchases </h2>
        <%= link_to "Browse all songs", songs_path, class: "btn btn-secondary height:25%" %>
      </div>
        <% @my_purchases.each do |booking| %>
          <%= link_to song_path(booking.song), class: 'card-product mb-3 d-flex' do %>
            <%= cl_image_tag booking.song.photo.key %>
          <div class="card-product-infos">
              <h2> <%= booking.song.title %> </h2>
              <p><%= booking.song.album %> - <i><%= booking.song.release_year %></i></p>
              <p><%= booking.start_date %> to <%= booking.end_date %></p>
              <% if booking.status === "pending" %>
                  <p class="bg-warning-subtle rounded-pill text-center" style="width: 80px">Pending</p> <%# change this when booking.status is coded  %>
              <% elsif booking.status === "accepted" %>
                <p class="bg-success-subtle rounded-pill text-center" style="width: 80px">Accepted</p>
              <% else %>
                <p class="bg-secondary-subtle rounded-pill text-center" style="width: 80px">Declined</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
