<div class="container mb-3">
<h1> My dashboard</h1>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h2> My songs </h2>
        <%= link_to "Upload a new song", new_song_path, class: "btn btn-primary height:25%" %>
      </div>

        <% @my_songs.each do |song| %>
          <%= link_to song_path(song), class: 'card-product mb-3 d-flex' do %>
            <%= cl_image_tag song.photo.key %>
            <div class="card-product-infos">
              <h2> <%= song.title %> </h2>
              <p><%= song.album %> - <%= song.release_year %></p>
              <p>Status: <%= song.available ? "Available" : "Booked" %></p>
            </div>
        <%# need to add avalibility %>
          <% end %>
        <% end %>
    <%= link_to "Add a new song", new_song_path, class: "btn btn-primary" %>
    </div>



    <div class="col">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h2> My purchases </h2>
        <%= link_to "Browse all songs", songs_path, class: "btn btn-primary height:25%" %>
      </div>
        <% @my_purchases.each do |booking| %>
          <%= link_to song_path(booking.song), class: 'card-product mb-3 d-flex' do %>
            <%= cl_image_tag booking.song.photo.key %>
          <div class="card-product-infos">
              <h2> <%= booking.song.title %> </h2>
              <p><%= booking.song.album %> - <%= booking.song.release_year %></p>
              <p>Status: <%= "Confirmed" %></p> <%# change this when booking.status is coded  %>
            </div>
        <%# need to add avalibility %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
