<div class="container">
<%# the form %>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: songs_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
      </div>
  </div>
<%# end of form %>
  <div class= "d-flex justify-content-between align-items-center">
    <h1>All songs</h1>
    <%= link_to "Upload a new song", new_song_path, class: "btn btn-primary height:25%" %>
  </div>

  <div class="all-songs">
    <% @songs.each do |song| %>
        <%= link_to song_path(song), class: 'card-product mb-3 d-flex' do %>
            <%= cl_image_tag song.photo.key %>
            <div class="card-product-infos">
                <h2><%= song.title %></h2>
                <p><%= song.artist %></p>
                <p>£<%= song.price %> per day</p>
            </div>
        <% end %>
    <% end %>

  </div>
</div>
