<div class="container">
  <div class= "d-flex justify-content-between align-items-center">
    <h1>All songs</h1>
    <%= link_to "Upload a new song", new_song_path, class: "btn btn-primary height:25%" %>
  </div>
 <div class="songs-container p-2">
  <div class="all-songs">
    <% @songs.each do |song| %>
        <%= link_to song_path(song), class: 'card-product d-flex mb-2 align-items-start' do %>
            <%= cl_image_tag song.photo.key %>
            <div class="card-product-infos">
                <h2><%= song.title %></h2>
                <p><%= song.artist %> - <i><%= song.release_year %></i></p>
                <p>Yours for <strong>£<%= song.price %> </strong> per day</p>
            </div>
        <% end %>
    <% end %>
  </div>

 </div>

</div>
